
 /* 
font-family: 'Roboto';
font-weight: 400;500;700;900
color main color #757575
color title h2 #212121
background #FFFFFF
title hero #FFFFFF
team card job #757575
background section teams #F5F4FA
address tel color: rgba(255, 255, 255, 0.6)
logo #000000 #2196F3 #FFFFFF Raleway 700
hover #2196F3 mail #757575 
portfolio #212121 Roboto 500
 */
:root {
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-text-color: #2196F3;
   --white-color: #FFFFFF;
   --section-background: #F5F4FA;
   --btn-hover-color: #188CE8;
   --hero-background: #2F303A;
   --logo-dark-color: #000000;
 }

body {
   background-color: var(--white-color);
   color: var(--primary-text-color);
   font-family: 'Roboto', sans-serif;
   letter-spacing: 0.03em;
}

.list {
   list-style: none;
}


.logo {
   color: var(--accent-text-color);
   font-family: 'Raleway', sans-serif;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   text-decoration: none;
}

.logo-dark {
   color: var(--logo-dark-color);
}

.logo-light {
   color: var(--white-color);
}

/* site-nav */
.site-nav .link {
   color: var(--title-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--accent-text-color);
}

.site-nav .link.current {
   color: var(--accent-text-color);
}

.contact .contact-link {
   color: var(--primary-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
}

/* footer */
.address {
   background-color: var(--hero-background);
}

.address .contact-link {
   color: rgba(255, 255, 255, 0.6);
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
   color: var(--accent-text-color);
}

.map {
   color: var(--white-color);
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   text-decoration: none;
}

/* hero */
.hero {
   background-color: var(--hero-background);
}
.hero-title {
   color: var(--white-color);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}
.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}
.btn {
   background-color: var(--accent-text-color);
   color: var(--white-color);
   border-color: var(--accent-text-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   font-family: inherit;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   cursor: pointer;
}
.btn:hover,
.btn:focus {
   background-color: var(--btn-hover-color);
}
.section-title {
   color:  var(--title-text-color);
   font-size: 36px;
   line-height: 1.17;
   letter-spacing: 0.03em;
}
.subtitle {
   color: var(--title-text-color);
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.features p {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}
/* our teams */
.teams {
   background-color: var(--section-background);
}
.avatar {
   background-color: var(--white-color);
}
.member {
   color: var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;

   
}
.member-text {
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

/* portfolio button */
.button {
   color: var(--title-text-color);
   background-color: var(--section-background);
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   letter-spacing: 0.03em;
   border-color: transparent;
   border-radius: 4px;
   cursor: pointer;
}
.button:hover,
.button:focus {
   color: var(--white-color);
   background-color: var(--accent-text-color);
}
/* portfolio */
.portfolio-title {
   color: var(--title-text-color);
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}
.portfolio p {
   color: var(--primary-text-color);
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
}
.portfolio a {
   background-color: var(--white-color);
   text-decoration: none;
}